<h3 class="text-center">Elements in Interasesores Lab Community</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @elements.each do |element| %>
      <%= render "element_row", element: element, reserve_item: @reserve_item %>
    <% end %>
  </div>
</div>
