<% if @reserve_items.size != 0%>
<div class = "button-reserve -col-md-offset-5 ">
 <%= button_to "Send Reservations", class: "btn btn-primary", controller: :reserve_items, action: :send_mail %>
</div>
<% end%>
