<% if !@reserve_item.nil? && @reserve_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @reserve_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @reserve_items.size == 0 %>
  <p class="reserve-text">
    There are no elements to reserve.  Please <%= link_to "go back", root_path %> and add some elements dude!
  </p>
<% else %>
<h3 class="page-header text-center cart-text-center ">Reservation Elements</h3>
  <% @reserve_items.each do |element_item| %>
    <%= render 'carts/cart_row', element: element_item.element, reserve_item: element_item, show_total: true %>

  <% end %>
<%= render 'carts/btn_reserve' %>

<% end %>
