<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido Andrés,</h1>
    <p>
      Has reservado exitosamente los elementos seleccionados<br>
    </p>
    <p>
    La siguiente practica experimental de laboratorio tendras a tus disposicion dichos elementos.
    </p>
    <p>Gracias por usar Veltios App :)</p>
    <br>
    <p>Atentamente Andrés Morales </p>
  </body>
</html>
