<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @current_user.name %>,</h1>
    <p>
      Te has registrado correctamente<br>
    </p>
    <p>Gracias por usar Veltios App :)</p>
    <br>
    <p>Atentamente Andrés Morales </p>
  </body>
</html>
