<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @current_user.name %>,</h1>
    <p>
      Te has registrado correctamente con la siguiente información
    </p>

    <ul>
      <li> Nombre: <span style = "color:green"><%=@current_user.name %></span></li>
      <li> Correo: <span style = "color:green"><%=@current_user.email %></span></li>
      <li> Contraseña: <span style = "color:green"><%=@current_user.password %></span></li>
    </ul>
    <p>Gracias por usar Veltios App :)
    <br>
    Atentamente Andrés Morales </p>
  </body>
</html>
