/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Ramabhadra|Timmana|Pattaya|Fugaz+One|Contrail+One');

*{
  padding: 0px;
  margin: 0px;
}
img {
  position: absolute;
  top:0;
  bottom:0;
  left: 0px;
  right: 0px;
  margin:auto;
}



li{
  text-decoration: none;
  list-style-type: none;
}


/* Icons */
.icon{
  width: 20px;

}

.icon-basket{
  fill: #FAFAFA;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
top:2px;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
}

.icon-badge, .icon-badge:hover {
  text-decoration: none;
  color: #FAFAFA;

}

/* SESSIONS */

.main-img{
  width: 40%;
}

.left-container{


}


.right-container{
  background:#34495e;
}

.devise-container{
  width: 50%;
  height: 100%;
  position: relative;
}

.main-container-div{
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.devise-form{
  position: absolute;
  margin: auto;
  display: table;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 50%;
  padding: 20px;
}

.devise-title{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-weight: normal;
  text-align: center;
  padding-bottom: 3%;

}

.devise-btn{
  width: 100%;
  margin: 0px;

}

/* BUTTONS */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.devise-toogle-text{
  color: white;
  text-align: right;

}


/* LINKS */
.login-links{
  color: white;
}

.links_regs{
  color: #9cb3c9;
  width: 100%;
  margin: auto;
  margin: 0px;
  padding: 0px;
}

.links_regs:active, .links_regs:hover{
  text-decoration: none;
  color: #FAFAFA;
}

.devise-links{
  text-align: center;
}

/* Nav Bar */

.nav-bar-text, .nav-bar-text:hover{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 32px;
  padding: 0px;
  margin: 0px;
  height: auto;
  margin-left: 20px;
  padding: 5px;
  top: 0px;
  vertical-align: middle;
  /*background: red;*/
  bottom: 0px;
  font-family: 'Fugaz One';

}

.nav-bar-text-cart, .nav-bar-text-cart:hover{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  height: auto;
  padding: 10px;
right: 0px;
float: right;
  text-align: left;
}

.nav-bar-brand{
  right: 0px;
  position: absolute;
}

.nav-bar-container{

}

.nav-bar-list-item{
display: inline-block;
float: right;
}


.nav-bar-collapse-container{
  /*background: red;*/

  float: right;
}

.nav-bar-collapse-ul{
float: right;
/*background: green;*/
position: absolute;
right: 0px;
}

.nav-bar-cart-icon-container{
  height: 200px;
  top: 2px;
  margin-top: 20px;
  padding-top: 20px;
  display: run-in;
}

.nav-bar-cart-btn{
  height: 40px;

}



/* Side Bar */
.side-bar-container{

    height: 100%; /* 100% Full-height */
   width: 250px; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
z-index: 1;
   background-color: #313638; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */ /* Place content 60px from the top */
   transition: 0.5s;
}

.side-bar-container a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E8E9EB;
  display: block;
  transition: 0.3s;
  font-family: 'Contrail One';
}

.side-bar-container a:hover, .offcanvas a:focus{
    color: #E0DFD5;
}


.side-bar-aside-container{
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 20%;
}

.side-bar-text{
  width: 100%;
  margin: 0px;
  left: 0px;
  color: #ced9e4;
  font-family: 'Ramabhadra', sans-serif;
}

.side-bar-text:hover{
  text-decoration: none;
  color: #ced9e4;
  font-weight: light;
  font-family: 'Ramabhadra', sans-serif;
}

/* Carts */
.cart-list-container{
  position: fixed;
  height: 100%;
  width: 88%;
  right: 0px;
}

.cart-list-div{
  padding: 50px;
  padding-top: 25px;
}

/* Elements */
.elements-list-container{
  position: fixed;
  height: 100%;
  width: 88%;
  right: 0px;
}

.elements-list-div{
  padding: 50px;
  padding-top: 25px;
}

/* Main Content */

.main-content-container{
  display: table;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
}

 /* Main Container */
 .main-container{
   display: table;
 }


 /* Nav Bar Brand */
#admin_text{
  color: #FEFEFE;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  height: auto;
  padding: 10px;
  left: 0px;
  text-align: left;

}


/*Side bar*/


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
