/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   padding: 0px;
 }

 .title{
   color: #FAFAFA;

 }
 .main-reg-div{
   width: 100%;
   height: 100%;
   position: absolute;
   background: red;
 }

.links_regs{
  color: #FAFAFA;
  font-weight: lighter;
/*background: green;*/
display: inline-block;
width: 150px;
text-align: center;
margin: auto;
margin-left: 20%;
 /*height: 75px;*/
 /*margin: 10px;*/
}

.reg-field-div{
height: 30px;
margin-bottom: 30px;
}

.check-box-reg{
color: #e74c3c;
font-weight: 100;

}


.btn-reg{
  width: 100px;
display: block;
  /*display: block;*/

}

.btns-regs{
  /*display: block;*/
  width: 100%;
  position: relative;
  display: inline-block;
}
.reg-field{
height: 100%;
width: 100%;
padding: 20px;
position: relative;
}


.reg-form-div{
  margin: auto;
  position: absolute;
  top: 27%;
}


 .reg-form{
   height: 100%;
   width: 100%;

   position: relative;

 }


 .reg-div{
   width: 50%;
   height: 100%;
   position: absolute;

 }

.big-logo{
width: 100%;
display: block;
margin: auto;
margin-top: 15%;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

 .right-div{
   margin-left: 50%;
   background: #34495e;
   position:relative;
   padding-left: 20%;
   padding-top: 15%;
 }

 .left-div{

   background: #FAFAFA;
 }


 .reg-title{
   margin-bottom: 20px;
   font-size: 40px;
   text-align: center;
width: 300px;
font-family: monospace;

 }



 /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.label-reg-cb{
margin-left: 80px;
padding: -2px;
color: #FAFAFA;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*
LAYOUTS
*/


.top-nav{
  background: #2c3e50;
  text-decoration: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  display: block;

}

.text-center{

  width: 600px;


color: #2c3e50;
font-size: 28px;
text-align: center;

margin: auto;
margin-right: 775px;
}

#element-row{
    height: 100%;
    width: 100%;
    overflow-y:  scroll;

}

.link:visited, .link:active{
color: white;
margin-left: 0px;
}

.link:hover{
  text-decoration: none;
  color: #95a5a6;
}

#main-title{
  padding: 20px;
}

#logout-text{
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin-top: -10px;
  font-weight: lighter;
  bottom: 7px;
}

#cart-amount{
font-size: 18px;
display: inline-block;
font-weight: normal;
position: relative;
  bottom: 7px;

}

#admin-text{
  font-size: 20px;
  margin: auto;
  bottom: 4px;
  position: relative;
  font-weight: lighter;


}



.sidebar{
  margin: 0px;
  display: block;
  margin-top: 75px;
  height: 1000px;
  width: 300px;
  position: fixed;


}

.nav-link{
  display: block;
  width: 100%;
  padding: 15px;
  color: #FAFAFA;
  font-size: 20px;
  font-weight: lighter;
}

.nav-link:hover{
  background: #2c3e50;
  text-decoration: none;
  color: #FAFAFA;
}

.sidebar-base{
  background: #34495e;
  width: 100%;
  height: 100%;
}


.update-btn{
  display: block;
float: left;
}

.delete-btn{
  display: block;
float: left;

}
.main-row-cart{
  width: 100%;
}
.btn-group-cart{

}

.cart-container{
  width: 100%;
  margin:auto;
}

.info-cart{
position: relative;
/*display: block;*/
margin-right: -10px;
}

.cart-text-center{
text-align: center;
margin: auto;
}

.input-group-a{


}

.element-cart-section
{

}
.element-section-container{
width: 100%;
}
.number-field-cart{
  /*padding: 5px;*/
  width: 10px;
}

.btn-input-group-cart{
float: right;
}


.amount-text-cart{
  font-size:17px;
  text-align: right;
float:right;
display: 100px;
width: 100%;
margin-top: 0px;

}

.input-number-field{
  text-align: center;
  width: 40%;

}



.main-elements{
  position: fixed;
  width: 100%;
height: 100%;
  align-items: center;
  align-content: center;
margin-top: 50px;


}

.login-links{
  display: block;
  float: left;
  width: 120px;
  margin: 0px;
}

.signup-link{
  display: block;
float: right;
  width: 170px;
  position: relative;
  top: -20px;
  margin: 0px;
}
.buttons-register-new{
  display: inline;
  margin: auto;

}
