/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap-datepicker3
*= require simple_calendar
*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Ramabhadra|Timmana|Pattaya|Fugaz+One|Contrail+One');

*{
  padding: 0px;
  margin: 0px;
}

img {
  position: absolute;
  top:0;
  bottom:0;
  left: 0px;
  right: 0px;
  margin:auto;
}

textarea:focus, input:focus{
    outline: none;
}



li{
  text-decoration: none;
  list-style-type: none;
}


/* Icons */
.icon{
  width: 20px;

}

.icon-basket{
  fill: #FAFAFA;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
top:2px;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
}

.icon-badge, .icon-badge:hover {
  text-decoration: none;
  color: #FAFAFA;

}

/* SESSIONS */

.main-img{
  width: 40%;
}

.left-container{


}


.right-container{
  background:#34495e;
}

.devise-container{
  width: 50%;
  height: 100%;
  position: relative;
}

.main-container-div{
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;

}

.devise-form{
  position: absolute;
  margin: auto;
  display: table;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 50%;
  padding: 20px;
}

.devise-title{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-weight: normal;
  text-align: center;
  padding-bottom: 3%;

}

.devise-btn{
  width: 100%;
  margin: 0px;

}

/* BUTTONS */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.devise-toogle-text{
  color: white;
  text-align: right;

}


/* LINKS */
.login-links{
  color: white;
}

.links_regs{
  color: #9cb3c9;
  width: 100%;
  margin: auto;
  margin: 0px;
  padding: 0px;
}

.links_regs:active, .links_regs:hover{
  text-decoration: none;
  color: #FAFAFA;
}

.devise-links{
  text-align: center;
}

/* Nav Bar */

.nav-bar-text, .nav-bar-text:hover{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 32px;
  padding: 0px;
  margin: 0px;
  height: auto;
  margin-left: 20px;
  padding: 5px;
  top: 0px;
  vertical-align: middle;
  /*background: red;*/
  bottom: 0px;
  font-family: 'Fugaz One';

}

.nav-bar-text-cart, .nav-bar-text-cart:hover{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  height: auto;
  padding: 10px;
right: 0px;
float: right;
  text-align: left;
}

.nav-bar-brand{
  right: 0px;
  position: absolute;
}

.nav-bar-container{

}

.nav-bar-list-item{
display: inline-block;
float: right;
}


.nav-bar-collapse-container{
  /*background: red;*/

  float: right;
}

.nav-bar-collapse-ul{
float: right;
/*background: green;*/
position: absolute;
right: 0px;
}

.nav-bar-cart-icon-container{
  height: 200px;
  top: 2px;
  margin-top: 20px;
  padding-top: 20px;
  display: run-in;
}

.nav-bar-cart-btn{
  height: 40px;

}

.cart-text-datepicker{
  background: none;
  border-style: none;
  text-align: center;
  border-radius: 3px;
  margin: 0px;

  padding: 0px;
  border: none;
color: transparent;
}

.cart-text-datepicker:hover{
  background: none;
  border-style: none;
  text-align: center;
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  color: transparent;

}

.cart-text-datepicker:focus{
  background: none;
  border-style: none;
  text-align: center;
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
color: transparent;
}

#cart-text-reserve{
  margin: 0px;
float: left;
display: inline-block;
}
/* Side Bar */
.side-bar-container{

    height: 100%; /* 100% Full-height */
   width: 0px; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
z-index: 1;
   background-color: #313638; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */ /* Place content 60px from the top */
transition: 0.5s;

}

.side-bar-container a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E8E9EB;
  display: block;
  transition: 0.3s;
  /* font-family: 'Contrail One'; */
  font-weight: lighter;
}

.side-bar-container a:hover, .offcanvas a:focus{
    color: #E0DFD5;
}


.side-bar-aside-container{
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 20%;
}

.side-bar-text{
  width: 100%;
  margin: 0px;
  left: 0px;
  color: #ced9e4;
  font-family: 'Ramabhadra', sans-serif;
}

.side-bar-text:hover{
  text-decoration: none;
  color: #ced9e4;
  font-weight: light;
  font-family: 'Ramabhadra', sans-serif;
}

/* Carts */


.cart-list-div{
  padding: 50px;
  padding-top: 25px;
}

/* Elements */


.elements-list-div{
  padding: 50px;
  padding-top: 25px;
}

/* Main Content */

.main-content-container{
  display: table;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
}

 /* Main Container */
 .main-container{
   display: table;
 }


 /* Nav Bar Brand */
#admin_text{
  color: #FEFEFE;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  height: auto;
  padding: 10px;
  left: 0px;
  text-align: left;

}


/*Side bar*/


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



@media only screen and (max-width: 991px) {
  .showMobile{
    display: block;
    margin-top: 2%;
  }
  .hideMobile{
    display:none;
  }


}


@media only screen and (min-width: 992px){
  .showMobile{
    display: none;

  }
  .hideMobile{
    display: block;
  }
  .left-container{
    display: block;
  }
}

@media only screen and (max-width: 1277px){
  .left-container{
   position: absolute;

 }
}



/* Footer */
.footer-div{
  right: 0;
  left: 0;
  padding: 1rem;
  height: 50px;
  background-color: #121416;
  text-align: center;
  color: #596268;

}

.navbar-fixed-bottom{
  bottom: 0px;
  position: fixed;
}

.footer-text{
  margin: auto;
  top: 0px;
   bottom: 0px;
 }

.footer-logo{
  margin-left: 50px;
  margin-right: 50px;
}

.footer-body{
  padding-top: 70px;
}

.footer-img{
  width: 60px;
}

/* Floating button */
.float{
  background: red;
  left: 92%;
  border-radius: 50px;
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 60px;
  background: #e74c3c;
  z-index: 3;
  text-align: center;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  -webkit-transition: 0.9s;
}


.float-icon{
  width: 50%;
  margin: auto;
  top: 0px;
  bottom: 0px;

  margin-top: 25%;
  padding: 5px;
  fill: white;

}
/* Search Engine  */

.bg-search{

  display: none;
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4000;
  margin-top: -10;
  top: 0px;
  padding: 0px;
  margin-left:0;
  align-content: center;
  transition: 20s;
  vertical-align: middle;

}

.search-bar{
  display: block;
  margin: auto;
  top: 0px;
  bottom: 0px;
  position: relative;
  background: none;
  border: none;
  font-family: 'Contrail One';
  vertical-align: middle;
  margin-top: 18%;
  font-size: 98px;
  color:#FAFAFA;
  width: 100%;

}

.search-bar::placeholder{
  color: #FAFAFA;
}

.bottom-bg-search{
  width: 0%;
  transition: all 0.5s ease-in;
  display: block;
  color:#e74c3c;
  /* background: #2c3e50; */
  background: #FAFAFA;

  height: 10px;

}



.form-search{
  width: 65%;
  margin: auto;
  margin-top: 17%;
}

.label-div{
  text-align: right;
  color: white;
}
.label-search{
  font-size: 20px;
  font-family: 'Timmana';
  margin: 10px;

  text-align: right;
  left: 0px;
}
.move{
 /*transform:  scale3d(0.7,0.7,1);*/
 -webkit-transition: 0.3s;
}

.subtitle-search{
text-align: left;
font-size: 24px;
color: #ecf0f1;
font-family: "Fjalla One";

}

.description-search{
text-align: left;
width: 50%;
font-family: "Courier";
font-weight: lighter;
}


/* Extension classes (?)  */
/* DEPRECIATED */
.hide-button{
  display: none;
}


.selected-day{
  background: #FFFFC0;
}


.today {
  background: #FFFFC0
}


/* form design */
/* TODO: Finish Design */




.modal-text{
  font-weight: lighter;

}

.modal-title-options{
  /* font-family: 'Francois One', sans-serif; */
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
  font-size: 30px;
}

.modal-description{
padding-left: 15px;
display: block;
}



.form-modal-info{
  padding: 20px;
    font-family: inherit;
    font-weight: lighter;
}


.modal-text-options{
  border-width: 0px;
  padding: 4px;
  margin-bottom: : 5px;
  width: 450%;
  display: block;
  position: relative;
  border-bottom: 1px;
}


.modal-list-options{
  border-width: 0px;
  padding: 4px;
  margin-bottom: : 5px;
  width: 450%;
  display: block;
  position: relative;
  border-bottom: 1px;
}

#nameDiv{
  width: 20%;
  margin-bottom: 10px;
}
.line{
  width: 80%;
  display: block;
  height: 0.5%;
  position: absolute;
  background:#ecf0f1;
  transition: 0.7s;
}

.lineBelow{
  width: 0px;
  background: rgb(231, 76, 60);
}


.label-options{
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}


.modal-label-options{
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.modal-footer-options{
  top: 20px;
  margin-top: 20px;
}






.cntr {
  margin: auto;
}

.btn-radio {
  cursor: pointer;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  user-select: none;
}
.btn-radio:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .btn-radio {
    display: block;
    float: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.btn-radio svg {
  fill: none;
  vertical-align: middle;
}
.btn-radio svg circle {
  stroke-width: 2;
  stroke: #C8CCD4;
}
.btn-radio svg path {
  stroke:  rgb(231, 76, 60);
}
.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}
.btn-radio input {
  display: none;
}
.btn-radio input:checked + svg path {
  transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}
.btn-radio span {
  display: inline-block;
  vertical-align: middle;
}
