// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Pattaya|Francois+One');

.elements-section-title{
  font-family: 'Pattaya', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.elements-section-subtitle{

}


// Elements List Section
.element-section-main-div{
  padding: 40px;
  // background: blue;
  // overflow-y: scroll;

}

.element-section-info{
  // background: red;
  width: 60%;
  right: 0px;
  margin: 20px;
  text-align: right;

  padding-right: 5%;
}
.element-section-img-container{
  display: block;
  // background: green;
  width: 230px;
  height: 230px;
  margin: auto;
  position: relative;

}

.element-section-img{
  display: inline-block;
// background: red;
border-style: none;
position: absolute;
margin: auto;
top: 0px;
bottom: 0px;
padding: 0px;
right: 0px;
left: 0px;

}

.elements-list-container{
  margin: auto;
  float: left;
  margin-left: 250px;
  transition: 0.5s;
  width: 77%;
  float: left;
  position: absolute;
}

.elements-offset{

}


.element-section-details{
  font-size: 15px;
  display: inline-block;
  color: #2c3e50;
}

.element-section-info-title{
  font-size: 42px;
  margin-bottom: 0px;
  font-family: 'Francois One', sans-serif;
  right: 0px;
  text-align: right;
}

.element-section-description{
  font-weight: lighter;
  right: 0px;
  margin-right: 10px;
  padding-right: 0px;
  text-align: right;
}


// Card Variants
.element-section-details-card{
  font-size: 15px;
  display: inline-block;
  color: #2c3e50;
}

.element-section-info-title-card{
  font-size: 32px;
  margin-bottom: 0px;
  font-family: 'Francois One', sans-serif;
  right: 0px;
  text-align: left;
}

.element-section-description-card{
  font-weight: lighter;
  left: 0px;
  margin-right: 10px;
  padding-right: 0px;
  text-align: left;
}

.form-input-btn-card{
  // width: 200px;
  display: block;
}


.element-section-btn-group-card{
  width: 20%;
  float: right;

  margin-top: 20px;
}


.element-section-btn-group{
  width: 20%;
  float: right;
  margin-top: 20px;
}


// Utiliites
.page-header{
  width: 40%;
  margin: auto;
  padding-bottom: 0px;
}


.card-img-main{
  width: 20rem;
  display: block;
  position: absolute; padding: 20px;
}
