// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




 .element-section{
   padding: 10px;
  border-radius: 5px;
width: 80%;
margin: auto;
padding-right: 150px;

 }

.reserve-text{
font-size: 18px;

}

.reserve-row{
  margin-top: 85px;
  position: fixed;
  font-size: 14px;
  margin-left: 450px;
  text-align: center;
  float: left;
}
 .amount-text{
   font-size: 12px;
   display: inline-block;
   text-align: right;
   color: gray;
 }


.name-text{
  font-size: 27px;
  text-align: right;
}
.line-bg{
background: #34495e;
height: 100%;
width: 400px;

z-index: -1;
position: fixed;
display: block;
margin: 0px auto;
margin-left: 400px;


}

.description-text{
text-align: right;
font-size: 19px;
font-weight: normal;
margin-top: 0px;
margin-bottom: 30px;
}


.btn-add{

}



.btn-group-element{

}

.int-input{
  text-align: center;
  width: 100px;
}


.input-element-group{
  width: 130px;
  float: right;
}

.img-element{
  display: block;
  position: absolute;
  width: 200px;
}


.info-text{
right: 10px;
margin-top: -15px;

}
