<li class = "nav-item">
<!-- <span class="badge badge-dark"> -->
<h4 class = "nav-link nav-bar-text-cart"> 02 / 12</h4>

<!-- </span> -->

</li>

<li class = "nav-item">
    <%= link_to "#{current_reserve.reserve_items.size} Elements to reserve" , cart_path, class: "nav-link nav-bar-text-cart", id: "cart-amount" %>

</li>
<% if current_user%>
<li class = "nav-item">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link  nav-bar-text-cart", id: "logout-text"%>
</li>
<% end %>
