
  <div class="footer-div ">

    <div class="row footer-body">
      <div class="col footer-text">
        <h7 href="">Veltios Web App created by Andres Morales. Bogota, Colombia.</h7>
      </div>
      <div class="col footer-text">
        <ul class = "col">
          <h7 href="" class="col footer-logo">
            <a href="https://github.com/mora200217/Veltios" target="_blank">
              <%= image_tag("github_logo@0.5x.png", :alt => "rss feed", :class => "img-rounded footer-img") %>
            </a>

          </h7>
          <h7 href="" class="col footer-logo">
            <a href="https://www.facebook.com/colegionuevayorkoficial" target="_blank">
              <%= image_tag("facebook_logo@0.5x.png", :alt => "rss feed", :class => "img-rounded footer-img") %>
            </a>
          </h7>
          <h7 href="" class=" col footer-logo">
            <a href="http://colegionuevayork.edu.co/" target="_blank">
              <%= image_tag("cny_logo@0.5x.png", :alt => "rss feed", :class => "img-rounded footer-img") %>
            </a>
          </h7>
        </ul>
      </div>
    </div>
  </div>
