<div class="sidebar-base">


<nav class="nav">
  <a href="" class="nav-link">Sensors</a>
  <a href="" class="nav-link">Tools</a>
  <a href="" class="nav-link">Kits and Sets</a>
  <a href="" class="nav-link">Compounds</a>
  <a href="" class="nav-link">Elements</a>
</nav>
</div>
