
<div class = "col side-bar-container">

  <nav class="nav flex-column">
    <a href="" class="nav-link side-bar-text">Sensors</a>
    <a href="" class="nav-link side-bar-text">Tools</a>
    <a href="" class="nav-link side-bar-text">Kits</a>
    <a href="" class="nav-link side-bar-text">Compounds</a>
    <a href="" class="nav-link side-bar-text">Elements</a>
  </nav>

</div>
